<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.glutton.cms.mapping.acount.AccountMapper">
    <insert id="addAccount" parameterType="CMSUserAccount" useGeneratedKeys="true" keyProperty="accountId">
        insert into cms_user_account (account_name, account_password, login_date, login_ip, login_type, login_web_header, user_id) values (
          #{accountName}, #{accountPassword}, #{loginDate}, #{loginIp}, #{loginType}, #{loginWebHeader}, #{userId}
        )
    </insert>
    <select id="findAccount" resultType="com.glutton.cms.dao.person.CMSUserAccount" parameterType="java.lang.String">
        select * from cms_user_account where account_name=#{accountName}
            <if test="accountPassword != null">
              and account_password=#{accountPassword}
            </if>
    </select>

</mapper>