<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.glutton.cms.mapping.person.CmsUserAccountMapper">
  <resultMap id="BaseResultMap" type="com.glutton.cms.dao.person.CmsUserAccount">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="account_id" jdbcType="BIGINT" property="accountId" />
    <result column="account_name" jdbcType="VARCHAR" property="accountName" />
    <result column="account_password" jdbcType="VARCHAR" property="accountPassword" />
    <result column="login_date" jdbcType="TIMESTAMP" property="loginDate" />
    <result column="login_ip" jdbcType="VARCHAR" property="loginIp" />
    <result column="login_type" jdbcType="VARCHAR" property="loginType" />
    <result column="login_web_header" jdbcType="VARCHAR" property="loginWebHeader" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
  </resultMap>
</mapper>