<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.glutton.cms.mapping.person.CmsUserMapper">
  <resultMap id="BaseResultMap" type="com.glutton.cms.dao.person.CmsUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_age" jdbcType="INTEGER" property="userAge" />
    <result column="user_nickname" jdbcType="VARCHAR" property="userNickname" />
    <result column="user_phone" jdbcType="VARCHAR" property="userPhone" />
    <result column="join_date" jdbcType="TIMESTAMP" property="joinDate" />
    <result column="user_email" jdbcType="VARCHAR" property="userEmail" />
  </resultMap>
</mapper>