<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.glutton.cms.mapping.category.CategoryMapper">
  <resultMap id="BaseResultMap" type="com.glutton.cms.dao.category.Category">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="c_id" jdbcType="BIGINT" property="cId" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="c_name" jdbcType="VARCHAR" property="cName" />
    <result column="c_create_time" jdbcType="TIMESTAMP" property="cCreateTime" />
    <result column="c_order" jdbcType="BIGINT" property="cOrder" />
    <result column="c_aliase" jdbcType="VARCHAR" property="cAliase" />
  </resultMap>
</mapper>